* {
	margin: 0;
	padding: 0;
}

#showcase {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(image.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-position: center;
	line-height: 1.7;
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 0 20px;
}

#showcase h1 {
	font-size: 40px;
	text-transform: uppercase;
	line-height: 1.2;
	margin-bottom: 1rem;
}

#showcase p {
	font-size: 30px;
	line-height: 1.2;
}

.text {
	margin: 2em 0;
	font-size: 30px;
	display: flex;
	justify-content: center;
	font-family: 'Inter', sans-serif;
}

.container {
	text-align: center;
}

.card-content {
	position: relative;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.card {
	border: 0;
	border-radius: 0.1875rem;
	margin: 25px 20px;
	box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
	display: block;
	height: 19rem;
	width: 26rem;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
}

.card:hover {
	box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.7);
	transform: scale(1.2);
}

.card > p :hover {
	text-overflow: ellipsis;
}

.imgsize {
	height: auto;
	width: 100px;
	margin-top: 25px;
	border-radius: 50%;
}

.btn-outline-primary,
.btn-outline-secondary {
	color: rgb(0, 0, 0);
	border-color: rgb(188, 188, 188);
	margin: auto 20px;
	padding: 10px 25px;
	font-size: 25px;
	border-width: 2px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.btn-outline-secondary {
	margin-left: 0px;
}

.btn-outline-primary:hover,
.btn-outline-secondary:hover {
	color: black;
	background-color: rgba(188, 188, 188, 0.535);
	border-color: rgba(0, 0, 0, 0.431);
}

.footer {
	text-align: center;
	width: 100%;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.462);
}
